{% extends 'shopping/base.html' %}

{% block content %}
    <div class='container'>
        <div class='container'>
            <h1>Add Grocery List</h1>
            <form method ='POST'>
                {% csrf_token %}
                <div class="form-group">
                    <label>Item name</label>
                    {{form.item_name}}        
                </div>
                <div class="form-group">
                    <label>Item quantity</label>
                    {{form.item_quantity}}
                </div>
                <div class="form-group">
                    <label>Item status</label>
                    {{form.item_status}}
                </div>
                <div class="form-group">
                    <label>Date</label>
                    {{form.date}}
                </div>
                <div class="form-group">
                              <p><input type="submit" value="Add" class="btn btn-primary ">  <span>  </span> <a class='btn btn-warning' href="{%url 'index' %}">Cancel</a></p>  

                </div>
            </form>
        </div>
    </div>
{% endblock content %}
